@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: none;
}


body{
    font-family: 'Roboto', sans-serif;
    height: 110vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/bg3.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.section1{
    padding: 40px 80px;
}

.section2 {
    margin: 40px 0;
}

/* Bouton */
.btn {
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #000;
    background-color: #fff;
    transition: 0.3s;
    text-align: center;
    font-weight: 600;
}

.btn:hover{
    color: #fff;
    background-color: #00ddff;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(37, 117, 255);
    padding: 20px;
    box-shadow: 0 3px 20px ;
    box-shadow: rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar li{
    padding: 0 20px;
    font-size: 16px;
    transition: 0.3s;
}

#navbar li:hover{
    transform: scale(1.2);
}

#navbar li a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

#header img{
    width: 60px;
    border-radius: 50px;
}

#header .acceuil {
    font-size: 20px;
}


/*Page de garde */

#acceuil{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

/* Affichages des Sites */

#acceuil h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
}

#acceuil h2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 1.8rem;
}

.table-container {
    max-height: 500px; /* Ajustez cette valeur en fonction de vos besoins */
    overflow-y: auto;
    margin: 20px auto; /* Cela centrerait la div conteneur */
    width: 80%; /* Vous pouvez ajuster ceci selon la largeur souhaitée */
}

.centered-table {
    width: 100%; /* Cela permet au tableau de prendre toute la largeur du conteneur */
    border-collapse: collapse;
    background-color: #fff;
}

.centered-table th, .centered-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.centered-table th {
    background-color: #f2f2f2;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
